body {
    background-color: black;
    font-family:  Work Sans, sans-serif;
    color: white; 
    text-align: center;
}

.video {
    align-items: center;
}

.Guide h4{
    color: grey;
}

.Guide img {
    display: block;
    margin: 20px auto;
}